@using Shrooms.Models;
@model Shrooms.Models.Mushroom;

<h1>Delete</h1>

<h2>Are you sure you want to delete @Model.Name?</h2>

@using (Html.BeginForm())
{
    <input type="hidden" id="MushroomId" name="id" value="@Model.MushroomId"/>
    
    <input type="submit" value="Remove" />
}
@Html.ActionLink("Back to List", "Index")